# speech to text and text to speech
realtimestt==0.3.104
realtimetts[kokoro,coqui,orpheus]==0.5.7

# llama-cpp-python server for Orpheus TTS
llama-cpp-python[server]

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv

# llm providers
ollama
openai

# additional dependencies for server management
requests
